.container-fluid{
    background: aqua;
}

.colcol {
    border: 1px solid black;
   /*height: 200px;*/
}


nav{

    background-color: darkblue;
}

@media(max-width:34em){
    .navbar .navbar>nav>.nav-item{
        float: none;
        margin:-left: .1rem;
    }

    .navbar .narbar-nav{
        float: none !important;
    }

    .navbar .collapse.in,
    .navbar .collapsing{
        clear: both;
    }
}
